body {
  background: #222222;
  overflow-x: hidden;
}

.location {
  margin: 2em 0.2em;
  display: flex;
  flex-direction: column;

  .gdesmo {
    display: flex;
    flex-direction: column-reverse;
    .adresa-slika {
      img {
        border: 2px solid rosybrown;
        border-radius: 1em;
      }
      padding: 1em;
      margin-bottom: 0.1em;
    }
    .adresa-txt {
      font-weight: 300;
      padding-left: 1em;
    }
  }
}
.contact-us {
  margin: 1em 0.2em;
  display: flex;
  flex-direction: column;
  h4 {
    margin-bottom: 1em;
    padding: 1em 0;
    background: rosybrown;
    font-weight: 300;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: start;
    align-self: flex-start;
  }
}
.location-logo {
  font-size: 2rem;
  display: block;
  text-align: center;
  border-bottom: 2px solid rosybrown;
}
.location-links {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  * {
    font-size: 3rem;
  }
}
.mailbtn {
  align-self: center;
  text-decoration: none;
  font-size: 2rem;
  background: rosybrown;
  font-weight: 300;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: 1em 0;
  padding: 0.2em 0.5em;
  border-radius: 1em;
}

footer {
  margin-top: 2em;
  padding: 0.5em 1em;
  padding-bottom: 1em;
  color: white;
  background: rosybrown;
  text-shadow: 1px 1px 1px black;
}
