.about-text-image{
    margin: 2em 1em;
    h1{
        margin-bottom: 1em ;
        span{
            font-size: 1.1em;
            color: white;
            text-shadow: 1px 1px 1px black;
            padding: 0.1em;
        }
    }
    h4{
        font-weight: 400;
    }
    .about-texts{
        padding: 0.5em 0.3em;
        border: 1px solid rosybrown;
    }
}